
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.imagem img{
    width: 100%;
}

.login{
    width: 40%;
    display: block;
    
}

.login img{
    margin-top: 3vh;
    width: 5vh;
}

.input1{
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
    width: 80%;
    padding: 15px;
    font-size: 15px;
}

.input1:hover{
    background-color: #d9d9d9;
    transition: 0.5s;
}


.input1:focus{
    border: 3px solid #1d1d1d;
    outline: none;
    text-decoration: none;
    background-color: white;
    transition: 0.2s;
}

.input1::placeholder{
    padding: 5%;
    color: #1d1d1d;
}

.input1:hover::placeholder{
    color: black;
}

.input1:focus::placeholder{
    font-size: 12px;
    transition: 0.2s;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1%;
}

.botoes button{
    width: 20%;
    height: 40px;
    padding: 0 65px;
    margin: 0 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.botoes{
    text-align: center;
}

.b1, .b2, .b3{
    color: white;
    outline: none;
    
    border: none;
}

.b1{
    background-color:#0077ff;
}

.b2{
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
    color: black;
}

.b3{
    background-color: black
}

.b1:focus, .b2:focus, .b3:focus{
    outline: none;
}

.checkbox + label{
    color: gray;
}

.checkbox + label:hover{
    color: black;
    transition: 0.1s;
}

.check{
    margin-left: 55px;
    margin-top: 10px;
}

.buttonLogar{
    padding: 20px 30px;
    border-radius: 25%;
    margin-top: 5rem;
    color: #cecece;
    background-color: #f9f9f9;
    border: 1px solid #cecece;
}

.buttonLogar:focus{
    outline: none;
}

.final{
    text-align: center;
    margin-top: 10vh;
}

.final a{
    text-transform: uppercase;
}

.final a:hover{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.final a{
    color: gray;
}

@media (max-width: 1280px){
    .main{
        display: initial;
    }

    .login{
        width: 100%;
    }

    .imagem img{
        display: none;
    }    

}
